.dst_pagination {
    list-style-type: none;
    margin: 20px auto 40px;
    color: white;
    display: inline-block;
    position: relative;
}
.dst_page_item{
    background-color: #e4e4e4;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    border-bottom: 3px solid #ccc;
    margin: 0 10px 10px 0px;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    width: 20px;
    float: left;
}
.dst_page_link{
    color: #979797;
    font-weight: 700;
    text-decoration: none;
}
.dst_page_active{
    background-color:#02002f;
    border-bottom: solid #030314;
}
.dst_page_active .dst_page_link{
    color: #fff!important;
}