.dst_header a,
.dst_post a{
  text-decoration: none!important;
  outline: none;
}
.dst_header{
    background: #fff;
    padding: 20px 0;
    box-shadow: 3px 4px 5px #dedede;
    position: relative;
}
.dst_header h1{
    color: #02002f;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 34px;
    line-height: 1;
    letter-spacing: -1px;
    margin-bottom:0px;
    text-align: center;
    font-size: 28px;
    letter-spacing: -1px;
    text-align: center;
}
.dst_header span{
  color: #828992;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 1;
  text-align: center;
}
.dst_sub_header{
  background: #02002f;
  padding: 20px;
  position: relative;
  top: 20px;
}
.dst_sub_header ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dst_sub_header ul li{
  margin-left: 20px;
  display: flex;
}
.dst_sub_header ul li a{
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  font-family: Montserrat, serif;
  line-height: 26px;
  padding: 0;
  text-transform: uppercase;
}
.dst_sub_header ul li a i{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  top: 2px;
}
.dst_top_menu {
    width: 50px;
    height: 50px;
    border-top: 5px solid #030314;
    color: #fff;
    background: #02002f;
    padding-top: 0;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 4;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dst_select_lang {
  background: no-repeat;
  color: #fff;
  border: 0;
  font-size: 13px;
  font-weight: 600;
  font-family: Montserrat, serif;
  line-height: 26px;
  padding: 0;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}
@media screen and (min-width:469px){
  .ds_header_mobile_item{
    display: none!important;
  }
  .ds_header_desktop_item{
    display: block;
  }
}
@media screen and (max-width:468px){
  .ds_header_mobile_item{
    display: block;
  }
  .ds_header_desktop_item{
    display: none!important;
  }
}