.dst_carousel{
    height: auto;
    max-width: 600px;
    overflow-x: hidden;
    margin: 30px auto 100px!important;
    width: 100%;
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    padding-top: 20px!important;
    padding-bottom: 40px!important;
}
.dst_carousel h2{
    font-family: "Raleway",sans-serif;
    text-align: center;
    color: #02002f;
    font-weight: 600;
    font-size: 28px;
}
.dst_carousel ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    transition: 0.6s ease-in-out;
    overflow-x: none;
}
.dst_carousel ul li{
    list-style-type: none;
}
.dst_carousel ul li a{
    text-decoration: none;
}
.dst_carousel_item h3{
    font-weight: 400;
    font-size: 16px;
    line-height:120%;
    padding: 30px 20px 0;
}
.dst_carousel_item{
    width: 190px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    margin-right:5px;
    margin-left: 5px;
}
.dst_carousel_item *{
  position: relative;
  z-index: 3;
  padding: 15px;
}
.dst_carousel_item::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0) 26%, rgba(0, 0, 0, 0.6) 50%, black 90%);
    z-index: 2;
    height: inherit;
    width: inherit;
    transform: rotate(180deg);
}
.dst_carousel_item h3{
    color: #fff;
}
.dst_carousel_item button{
    border: 0;
    border-bottom: 3px solid #030314;
    color: #fff;
    background: #02002f;
    padding-top: 0;
    border-radius: 4px;
    padding: 6px 12px;
    bottom: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    font-weight: 500;
    text-transform: capitalize;
}
.dst_carousel_nav {
    position:absolute;
}
.dst_carousel_nav a {
    background: #02002f;
    padding: 10px 20px;
    margin: 10px;
    font-size: 30px;
    border-radius: 4px;
    border-bottom: 3px solid #030514;
}
.dst_carousel_nav a i{
    color: #fff;
}

@media screen and (min-width:469px){
    .dst_carousel_nav_prev {
        position: relative;
        top: -135px;
        left: -65px;
        z-index: 2;
    }
    .dst_carousel_nav_next {
        position: relative;
        top: -135px;
        left: 525px;
        z-index: 2;
    }
    
}

@media screen and (max-width:468px){
    .dst_carousel{max-width:300px;padding-bottom:100px;}
    .dst_carousel_nav{
        background-color: #dedede;
        height: 50px;
        padding: 10px 0!important;
        position: absolute;
        left: 0;
        right: 0;
        max-width: 300px;
        margin: 0 auto!important;
    }
}