.dst_search_bar {
    background-color: #dedede;
    padding: 10px;
    display: flex
}
.dst_search_bar input{
    background: #f2f2f2;
    border: 1px solid #bbb;
    height: 50px;
    border-radius: 4px;
    color: #151515;
    font-size: 20px;
    float: left;
    padding-left:10px;
    width: 65%;
}
.dst_search_bar button{
    float: left;
    border: 0;
    line-height: 45px;
    color: #fff;
    font-family: Montserrat;
    background: #02002f;
    padding: 2px 22px;
    margin: 0;
    border-bottom: 3px solid #030314;
    border-radius: 3px;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 16px;
    width: 90px;
    margin-left: 5px;
}