@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #444;
  font-size: 18px;
  line-height: 1.65;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient( -45deg, #02002f ,#0f97cb );
  border-radius: 1px;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
}
::-webkit-scrollbar {
  width: 3px;
}
body{
  background: #f2f2f2;
}
h1, h2, h3, h4, h5, h6 {
  clear: both;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  color: #292c33;
  line-height: 1.45;
  font-weight: 400;
  font-family: "Raleway",sans-serif;
}
.container{
  max-width:960px;
  margin: 0 auto;
  text-align: center;
}
.dst_header a,
.dst_post a{
  text-decoration: none!important;
  outline: none;
}
.dst_header{
    background: #fff;
    padding: 20px 0;
    margin-bottom: 30px;
    box-shadow: 3px 4px 5px #dedede;
    position: relative;
}
.dst_header h1{
    color: #02002f;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 34px;
    line-height: 1;
    letter-spacing: -1px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 1.2;
    text-align: center;
}
.dst_header span{
  color: #828992;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 1;
  text-align: center;
}
.dst_sub_header{
  background: #02002f;
  padding: 20px;
  position: relative;
  top: 20px;
}
.dst_sub_header ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dst_sub_header ul li{
  margin-left: 20px;
  display: flex;
}
.dst_sub_header ul li a{
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  font-family: Montserrat, serif;
  line-height: 26px;
  padding: 0;
  text-transform: uppercase;
}
.dst_post {
  padding:20px auto;
}
.dst_post h1{
  font-size:28px;
}
.dst_post h1::after{
    content: " ";
    display: block;
    height: 3px;
    width: 90px;
    background: linear-gradient( -45deg, #02002f ,#0f97cb );
    margin-top: 15px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.dst_post article{
  background-color: #dedede;
  max-width: 600px;
  margin: 0 auto 30px;
  background: #fff;
  padding: 20px 20px 15px;
  border-radius: 5px;
  box-shadow: 6px 7px 10px #dedede;
  border-bottom: 4px solid #ccc;
}
.dst_post article button{
    display: inline-block;
    padding: 12px 25px;
    background: #02002f;
    color: #fff;
    font-size: 16px;
    font-family: Raleway;
    line-height: 1;
    text-transform: unset;
    font-weight: 400;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    border-bottom: 3px solid #030314;
    outline: none;
    border-radius: 4px;
    margin: 30px auto;
    border: none;
}
.dst_post article button:hover{
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #0f97cb!important;
  transition: ease-in-out .8s;
  box-shadow: inset 1200px 0 0 0 #0f97cb!important;
  color: #fff;
}
.dst_post img{
  max-width: 600px;
  height: auto;
  width: 100%;
  margin: 20px auto;
}
footer{
  background-color: #151515;
  min-height:300px;
  padding:40px 0;
}
footer h2{
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 25px;
  color: #fff;
  text-align: left;
}
footer h2::after{
    content: " ";
    display: block;
    height: 2px;
    width: 90px;
    background: rgba(15, 151, 203, .8);
    margin-top: 10px;
}
footer img{
  border: 2px solid #222;
  padding: 5px;
  max-width:140px;
  max-height: 140px;
  float: left;
  margin-right: 30px;
}
.dst_footer_text{
    margin-top: 30px;
    color: #ccc;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-top: 20px;
}
.dst_footer_icon_socials{
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 20px 0;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    margin-top: 45px;
}
.dst_footer_icon_socials i{
    background: #222;
    border-radius: 50%;
    padding: 12px;
    width: 45px;
    height: 45px;
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    justify-content: center;
}